<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940446628757-qcck4cjmcbej8q4esctbf7lagpmb1nlt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940446628757-qcck4cjmcbej8q4esctbf7lagpmb1nlt</string>
	<key>API_KEY</key>
	<string>AIzaSyBb-3PpZS9shNJW6MFwOjval9KpPxL60SM</string>
	<key>GCM_SENDER_ID</key>
	<string>940446628757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moyuteam.moyubie</string>
	<key>PROJECT_ID</key>
	<string>moyubie-cbfbb</string>
	<key>STORAGE_BUCKET</key>
	<string>moyubie-cbfbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940446628757:ios:97d377b8187c8e5db5549c</string>
</dict>
</plist>